.header_div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-inline: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .span{
      font-size: 50px;
  }
  .pages{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 250px;
  }
   .actions{
    display: flex;
    flex-direction: row;
  }
   
  .login_Btn{
    background-color: transparent;
    border: none;
    margin-right:15px;
    cursor: pointer;  
  }
  .getStarted_Btn{
    width: 240px;
    height: 60px;
    background: #00ACB1;
    border-radius: 8px;
    cursor: pointer;
    outline: none;  
  }

  @media(max-width: 500px) {
    .logo{
      margin-bottom: 15px;
    }
    .pages{
      margin-bottom: 15px;
    }
    .actions{
      margin-bottom: 15px;
    }
    .header_div{
      padding: 0;
    }
  }