.get_started {
    display: flex;
    justify-content: center;
    padding-inline: 80px;
  }
  .first_step {
      display: flex;
      flex-direction: column;
      padding-top: 10px;
      padding-bottom: 20px;
  }
  .first_title {
    font-size: 50px;
    line-height: 49px;
    text-align: left;
  }
  .first_parag{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #00ACB1;
  }
  .second_parag{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #656F77;
  }
  .first_Btn {
    width: 50%;
    height: 50px;
    background: #00ACB1;
    border-radius: 8px;
    cursor: pointer;
  }
  .promo_dev{
    width: 100%;
  }

  @media(max-width: 500px) {
      .get_started{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-inline: 15px;
        align-items: center;
      }
      .first_Btn {
        height: 50px;
        background: #00ACB1;
        border-radius: 8px;
        cursor: pointer;
      }
  }