@import "./home/index.module.scss";
.main_layout_ar {
  direction: rtl;
}
.main_layout_en {
  direction: ltr;
}
.main_layout_{
  display: flex;
}
body{
  padding: 0;
  margin: 0;
}

// *{
//   padding: 0;
//   margin: 0;
//   box-sizing: border-box;
// }